/********************************************/
// STORE VARIABLES
/********************************************/

/********************************************/
// FONT
/********************************************/

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

$title: 'Lustria', Serif;
$article: 'Lato', Helvetica, sans-serif;

/********************************************/
// BREAKPOINT
/********************************************/

$mobile: new-breakpoint(max-width 500px 10);

/********************************************/
// COLOUR
/********************************************/

$highlight: #e74c3c;
$gray: #666;



.container{
	@include outer-container;
}
